<%= form_with(model: Post.new, data: { controller: "autosave", autosave_target: "form", action: "turbo:submit-end->autosave#success turbo:fetch-request-error->autosave#error" }) do |form| %>
  <div class="form-group">
    <%= form.label :title, class: 'block text-sm font-medium text-gray-700' %>
    <%= form.text_field :title, class: 'mt-1 p-2 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md form-group', data: { action: "keyup->autosave#save" } %>
  </div>

  <div data-autosave-target="status"></div>

  <%= form.submit class: 'hidden' %>
<% end %>
